@import "font-awesome";

html, body {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  .move__top {
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: black;
    border-radius: 6px;
    border: none;
    z-index: 10;
  }
  @media #{$info-tablet-horizontal} {
    font-size: 15px;
  }
  @media #{$info-tablet-vertical} {
    font-size: 14px;
  }
  @media #{$info-phone} {
    font-size: 12px;
  }
}
