.discuss {
  position: relative;
  background: #FFFFFF;
  margin-bottom: 0;
  &__header {
    padding: 3.7rem 0 4.8rem;
  }
  &__content {
    display: flex;
    margin-bottom: 6.8rem;
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    &__address {
      width: 25%;
      @media only screen and (max-width: 767px) {
        width: 50%;
        order: 2;
      }
      h3 {
        font-weight: 400;
        margin-bottom: 2.3rem;
      }
      p {
        color: #6a737b;
        font-size: 13px;
        line-height: 23px;
      }
    }
    &__form {
      padding: 0 20px 0 10px;
      width: 68%;
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 3rem;
      }
      h3 {
        font-weight: 600;
        margin-bottom: 2rem;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        input {
          border: none;
          border-bottom: 1px solid #cccccc;
          padding: 12px 0;
        }
        .name {
          width: 50%;
          input {
            width: 90%;
          }
        }
        .mail {
          width: 50%;
          input {
            width: 100%;
          }
        }
        .message {
          margin: 2rem 0 2.3rem;
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
      button {
        border: none;
        background-color: transparent;
        float: right;
        &:hover {
          color: $color-main;
          opacity: .8;
        }
      }
    }
    &__icon {
      width: 7%;
      padding: 0 13px;
      text-align: center;
      @media only screen and (max-width: 767px) {
        order: 3;
        width: 50%;
      }
      ul {
        margin-top: 1rem;
        list-style-type: none;
        @media only screen and (max-width: 767px) {
          margin-top: 0;
        }
        li {
          cursor: pointer;
          margin-bottom: 18px;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
