.works {
  position: relative;
  &__header {
    padding: 3.7rem 0 3rem;
    &__heart {
      margin-bottom: 31px;
    }
    &__about {
      @media only screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }
  }
  &__list {
    list-style-type: none;
    text-align: center;
    &__item {
      display: inline-block;
      &:hover {
        border-radius: 10px;
        background-color: $color-main;
      }
      &:hover button {
        color: #FFFFFF;
      }
      button {
        color: #0b0b0b;
        font-weight: 600;
        padding: 5px 22px;
        background-color: transparent;
        border: none;
        outline: none;
        @media only screen and (max-width: 767px) {
          padding: 5px 12px;
        }
      }
    }
    .works-active {
      color: #FFFFFF;
      border-radius: 10px;
      background-color: $color-main;
      button {
        color: #FFFFFF;
      }
    }
  }
  &__pictures {
    margin-top: 2.2rem;
      .filterDiv {
        position: relative;
        width: 25%;
        @media only screen and (max-width: 767px) {
          width: 50%;
        }
        &:hover .filterDiv__content {
          background-color: $color-main;
          top: 0;
          opacity: 1;
        }
        &__img {
          display: block;
          width: 100%;
        }
        &__content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%);
          transition: .3s linear;
          opacity: 0;
          color: #FFFFFF;
          img {
            margin-bottom: 1.6rem;
            @media only screen and (max-width: 475px) {
              width: 20%;
              margin-bottom: .8rem;
            }
          }
          b {
            margin-bottom: 5px;
            @media only screen and (max-width: 475px) {
              font-size: .6rem;

            }
          }
          p {
            @media only screen and (max-width: 475px) {
              font-size: .5rem;
            }
          }
        }
      }
    &__item {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    .showFilter {
      display: block;
    }
  }
  //modal-------------
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .modal-footer {
    border: none;
  }
  .bg--img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25rem;
    height: 19rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @for $i from 1 through 8 {
    .bg--img-0#{$i} {
      background-image: url("../img/Rectangle#{$i}.png");
    }
  }
}
