a {
  &:hover {
    text-decoration: none;
  }
}

ul, ol, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
  max-width: 100%;
}
.container {
  &:before , &:after {
    display: none;
  }
}
h3.title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: $color-main;
  @include font-size(28px);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 18px;
}
span.heart {
  margin-top: 15px;
  position: relative;
  text-align: center;
  display: block;
  &:before, &:after {
    @include vertical-align(absolute);
    content: "";
    width: 90px;
    height: 1px;
    display: inline-block;
    background-color: #dce1e5;
  }
  &:before {
    right: 52%;
  }
  &:after {
    left: 52%;
  }
  img {
    margin: 0 auto;
  }
}
p.about {
  width: 90%;
  margin: 22px auto 0;
  text-align: center;
  color: #384d5c;
  @include font-size(18px);
  font-weight: 600;
}
section {
  padding: 5vh 0;
}
@keyframes fadeIn {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}