.footer {
  background-color: #1ea78d;
  padding: 7.8% 0 8.8%;
  &__content {
    @include flex;
    color: #FFFFFF;
    @include font-size(13px);
    @media #{$info-tablet-vertical} {
      flex-wrap: wrap;
    }
    &__item {
      width: 25%;
      padding: 0 15px;
      @media #{$info-tablet-vertical} {
        width: 50%;
        margin-bottom: 20px;
      }
      @media #{$info-mobile} {
        width: 100%;
      }
      &:last-child {
        padding-top: 64px;
      }
      //======= Footer first item=====
      p {
        line-height: 25px;
        @media #{$info-mobile} {
          line-height: 20px;
        }
      }
      .logo {
        margin-bottom: 36px;
      }
      //======= End Footer first item=====


      //====== Footer title=======
      h4 {
        @include font-size(14px);
        margin-bottom: 43px;
        font-weight: bold;
        padding-top: 10px;
        opacity: .8;
      }
      //======End Footer title=======


      //===== footer Form=======
      .form {
        position: relative;
        margin-bottom: 25px;
        @media #{$info-tablet-vertical} {
          margin-bottom: 10px;
        }
        input {
          background-color: transparent;
          border: 1px solid #FFFFFF;
          width: 90%;
          padding: 11px 0;
        }
        img {
          position: absolute;
          right: 15%;
          top: 30%;
          transform: translate(-50%);
        }
      }
      //=====End footer Form=======


      //===== footer List=======
      .list {
        overflow: auto;
        ul {
          list-style-type: none;
          float: left;
          width: 50%;
          li {
            margin-bottom: 14px;
          }
        }
        ul:nth-of-type(even) {
          float: right;
          width: 50%;
          padding-left: 35px;
        }
      }
      //=====End footer List=======


      //======= Footer last item=====
      .item__detail {
        padding-left: 12px;
        @media #{$info-mobile} {
          padding-top: 0;
        }
        img {
          margin: 0 5px;
        }
        span {
          color: #062033;
        }
        &:first-child {
          line-height: 20px;
          border-left: 1px solid rgba(23,126,114,0.9);
          margin-bottom: 60px;
          @media #{$info-tablet-vertical} {
            margin-bottom: 50px;
          }
          @media #{$info-phone} {
            margin-bottom: 55px;
          }
        }
        & + p:last-child {
          color: #062033;
        }
      }
      //=======End Footer last item=====
    }
  }
}
