.footer {
  background-color: #1ea78d;
  padding: 6.2rem 0 7rem;
  &__content {
    @include flex;
    color: #FFFFFF;
    @include font-size(13px);
    @media #{$info-tablet-vertical} {
      flex-wrap: wrap;
    }
    &__item {
      width: 25%;
      padding: 0 15px;
      @media #{$info-tablet-vertical} {
        width: 50%;
        margin-bottom: 20px;
      }
      @media #{$info-mobile} {
        width: 100%;
      }
      p {
        line-height: 25px;
      }
      .logo {
        margin-bottom: 2.3rem
      }
      h4 {
        @include font-size(14px);
        margin-bottom: 2.7rem;
        font-weight: bold;
        padding-top: 10px;
        opacity: .8;
      }
      .form {
        position: relative;
        margin-bottom: 25px;
        @media #{$info-tablet-vertical} {
          margin-bottom: 0;
        }
        input {
          background-color: transparent;
          border: 1px solid #FFFFFF;
          width: 90%;
          padding: 11px 0;
        }
        img {
          position: absolute;
          right: 15%;
          top: 30%;
          transform: translate(-50%);
        }
      }
      .list {
        overflow: auto;
        ul {
          list-style-type: none;
          float: left;
          width: 50%;
          li {
            margin-bottom: 14px;
          }
        }
        ul:nth-of-type(even) {
          float: right;
          width: 50%;
          padding-left: 35px;
        }
      }
      .item__detail {
        padding-top: 4.5rem;
        @media #{$info-mobile} {
          padding-top: 0;
        }
        p {
          padding-left: 12px;
          img {
            margin: 0 5px;
          }
          span {
            color: #062033;
          }
          &:first-child {
            line-height: 20px;
            border-left: 1px solid rgba(23,126,114,0.9);
            margin-bottom: 3rem;
            @media #{$info-phone} {
              margin-bottom: 4.5rem;
            }
            @media #{$info-mobile} {
              margin-bottom: 2rem;
            }
          }
          &:last-child {
            color: #062033;
          }
        }
      }
    }
  }
}
